.container .row {
    display: flex;
    flex-wrap: wrap;
}

.container .col-md-6 {
    flex-grow: 1; /* Let the column grow to fill available space */
    max-width: 100%; /* Allow the column to grow up to 100% of container width */
    padding: 0 5px; /* Add some padding between columns */
}

header {
    background-color: #062362; /* Blue background color */
    color: #fff; /* White text color */
    padding: 20px 0; /* Add padding top and bottom */
    margin-bottom: 20px; /* Add some space below the header */
}

header h1 {
    margin: 0;
    font-size: 2.5rem; /* Larger font size for the heading */
}

header p {
    font-size: 1.2rem; /* Smaller font size for the paragraph */
}

.card {
    border: 1px solid #ddd; /* Add border to cards */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    padding: 20px; /* Add padding inside cards */
}

/* Select Dropdown */
select {
    width: 100%; /* Make dropdown width full */
    padding: 10px; /* Add padding */
    font-size: 1rem; /* Font size */
    border: 1px solid #ced4da; /* Border color */
    border-radius: 5px; /* Border radius */
}

/* Charts */
.plot {
    margin-bottom: 20px; /* Add margin below charts */
}